/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
	text-align: center;
}

.board-container {
	padding-top: 20px;
}

.board {
	border-spacing: 0;
	border-collapse: collapse;
	height: 43vw;
	width: 43vw;
}

.board.done {
	filter: brightness(50%);
}

.cell {
	border: solid 1px #000;
	height: 8vw;
	width: 8vw;
	background: #FFF;
	padding: 0;
}

.cell.selected {
	background: #FF0;
}

.red {
	background: #F33;
}

.black {
	background: #333;
}

.queen {
	height: 7vw;
	width: 7vw;
}

.cell.selected .queen{
	filter: brightness(200%);
}

.queen#red {
	content: url("../images/redqueen.png");
}

.queen#black {
	content: url("../images/blackqueen.png");
}


.dot {
	content: url("../images/dot.png");
	height: 7vw;
	width: 7vw;
}

.turn {
	text-align: center;
    padding-top: 10px;
    font-size: 36px;
}

.usrName {
	text-align: center;
    padding-top: 10px;
    font-size: 36px;
}

.gameID {
	text-align: center;
    padding-top: 10px;
    font-size: 36px;
}
.redName {
	text-align: center;
    padding-top: 10px;
    font-size: 36px;
}
.blackName {
	text-align: center;
    padding-top: 10px;
    font-size: 36px;
}
.restart, .color {
	text-align: center;
	font-size: 16px;
	padding-top: 5px;
}