/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
	text-align: center;
}

.board {
	border-spacing: 0;
	border-collapse: collapse;
	height: 500px;
	width: 500px;
}

.board.done {
	filter: brightness(50%);
}

.cell {
	border: solid 1px #000;
	height: 100px;
	width: 100px;
	background: #FFF;
	padding: 0;
}

.cell.selected {
	background: #FF0;
}

.red {
	background: #F33;
}

.black {
	background: #333;
}

.queen {
	height: 96px;
	width: 96px;
}

.cell.selected .queen{
	filter: brightness(200%);
}

.queen#red {
	content: url("../images/redqueen.png");
}

.queen#black {
	content: url("../images/blackqueen.png");
}


.dot {
	content: url("../images/dot.png");
	height: 96px;
	width: 96px;
}

.turn {
	text-align: center;
    padding: 20px;
    font-size: 45px;
}

.restart {
	font-size: 20px;
}